* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #eaeaea;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10vh 0 auto;
  background-color: #3f5a9d;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.center {
  width: 80%;
  margin: 10vh auto;
  text-align: center;
}

.circle { /* дверная ручка */
  position: relative;
  left: 80%;
  top: 45%;
  width: 20px;
  height: 20px;
  background-color: #3e1c00;
  border: 1px solid #8c6e52;
  border-radius: 50%;
}

.door,
.car,
.goat {
  border: 2px solid #6e4f32;
  margin: 10px 30px;
  width: 200px;
  height: 300px;
  background-color: #8c6e52;
  display: inline-block;
  cursor: pointer;
}

.car,
.goat {
  cursor: default;
}

.question {
  font-size: 2.5rem;
  text-align: center;
  display: none;
  margin: 0 25%;
}

.selection {
  display: none;
  position: relative;
  left: 35%;
  bottom: 70px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid 	#2a3c48;
}

.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.not-change {
  background-color: #27b376;
  margin-right: 3rem;
  margin-top: 4vh;
}

.change {
  background-color: #bf212f;
  margin-top: 4vh;
}
